/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v7/4VMQLG5UaE3m5rr_emmAqaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'), local('Cabin-Italic'), url(https://fonts.gstatic.com/s/cabin/v7/H0pnhiw5Sx0_YsHgvze93QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	background-color: goldenrod;
	
	background-repeat: no-repeat;
	color: purple;
	font-family: 'Cabin', serif;
}

@media screen and (min-width: 919px) {
	body {
		background-size: 100%;
	}
}

#maintitle {
	font-weight: bold;
	font-size: 25px;
}

#placebox {
	position: absolute;
	top: 290px; left: 10px;
	width: 330px; height: 225px;
	background-color: cornsilk;
	background-size: cover;
	border-radius: 10px;
	border: 5px solid darkred;
}

#photobox {
	position: absolute;
	top: 60px; left: 365px;
	width: 225px; height: 210px;
	background-color: cornsilk;
	background-size: cover;
	border-radius: 10px;
	border: 5px solid darkred;
}

#locationbox {
	position: absolute;
	top: 10px; left: 365px;
	width: 225px; height: 30px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid darkred;
	font-weight: bold;
}

#textbox {
	position: absolute;
	top: 10px; left: 10px;
	width: 320px; height: 250px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid darkred;	
	padding: 5px 5px 5px 5px;
	font-size: 14px; font-weight: bold;
}

#actionbox {
	position: absolute;
	top: 290px; left: 365px;
	width: 225px; height: 225px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid darkred;
	font-size: 12px; font-weight: bold;
}


.container {
	width: 100%;
	padding: 5px 5px 5px 5px;
	margin: 0px auto;
	text-align: center;
}

p {
	text-align: left;
}

ul {
	margin: 15% 0px 0px 0px;
	padding: 4px 0px 4px 0px;
	vertical-align: top;
}

li {
	display: inline-block;
	width: 175px;
	margin: 3px 1px 3px 1px;
	border: 3px solid purple;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-color: white;
}

.clickable {
	cursor: pointer;
}





